[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Products-App-Microservices/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Products-App-Microservices/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Products-App-Microservices/orders-microservice.git
